# Maven
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build/
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.project
.classpath
.settings/
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.externalToolBuilders/
.apt_generated/
.factorypath
.springBeans

# Intellij IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Spring Boot
!**/src/**/resources/
!**/src/**/webapp/
!**/src/**/*.html
!**/src/**/*.css
!**/src/**/*.js
!**/src/**/*.properties
!**/src/**/*.yml

# Mac
.DS_Store

# Logs
*.log
logs/
*.log.*

# JRebel
jrebel-temp-build/